CORTE_XLSX=C:\Users\opera\OneDrive\FIO A FIO\RELATORIO\PRODUÇÃO CORTE E COSTURA\PROGRAMAÇÃO CORTE E COSTURA .xlsx
OFICINAS_XLSX=C:\Users\opera\OneDrive\Produção Q\00 - OFICINAS 2026\Produção Oficinas.xlsx
SIGNUS_XLS=C:\Users\opera\OneDrive\Área de Trabalho\1 - TABELA BASE PARA ATUALIZAÇÃO\TABELAS  2 SEMESTRES 2026\Relatorio Signus\Movimentação Tecidos.xls
